---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		With a strong passion for Remote Sensing and Geographic and Information Science, I have explored various Earth Science applications through interdisciplinary collaborations. I specialized in processing, analyzing, and visually exploring extensive RS and geospatial datasets based on cloud platforms like Google Earth Engine, with a focus on Cryosphere, global water cycle, ecological environment, economy, and climate change. Notably, I pioneered innovative algorithms for satellite altimetry to accurately retrieve sea ice thickness and volume using high-performance computing, revealing spatiotemporal patterns in circum-Antarctic sea ice. My expertise in remote sensing and geospatial big data processing have also contributed to commercial applications for several companies.
	</p>
</Layout>
